<div class="container">
  <div class="row">
    <% @intiatives.each do |initiative| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-product">
        <%= cl_image_tag initiative.photo, width: 120, height: 120, crop: :fill %>
        <div class="card-product-infos">
        <%= link_to initiative.name, initiative_path(initiative)  %>
        <p> blab <strong>blab</strong></p>
        </div>
        </div>
      </div>
    <% end %>
    </div>
</div>
