h1 {
  font-family: 'K2D', sans-serif;
}

div.accroche {
  margin-top: 200px;
  margin-left: 100px;
}

div.gros-titre {
  font-weight:bold ;
  font-size:100px;
  color:#44AEBC;
}

.second-titre {
  font-size:48px;
  color:#494949;
}

.texte1 {
  font-size:20px;
  color:#494949;
}

.for-managers {
  margin-top: 200px;
  background-color:yellow;
  min-height: 300px;
  min-width: 300px;
  margin-left:auto;
  margin-right:0;
}
