<div class="container container-global">
  <div class="row">
    <div class="col col-sm-3 offset-md-1">
      <div class="sidebar">
        <div class="imglog"><%= image_tag("link.png")%></div>
        <div class="arbre"><%= image_tag("arbre.svg") %></div>
        <div class="about"></div>
     </div>
    </div>
    <div class="col col-sm-8">
      <%= render "shared/navbar" %>
    </div>
  </div>
</div>
