<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(<%=asset_url('zach.jpg')%>">
  <div class="banner-content">
    <p>Monitor your outcomes, maximize your impact !</p>
</div>
</div>
