<div class="container container-global">
  <div class="row">
    <div class="col col-sm-3 offset-md-1">
      <div class="sidebar">
        <div class="imglog"><%= image_tag("link.png")%></div>
        <div class="arbre"><%= image_tag("arbre.svg") %></div>
        <div class="about"></div>
     </div>
    </div>
    <div class="col col-sm-8">
      <%= render "shared/navbar" %>
      <div class="accroche">
        <div class="gros-titre"> SIAL IMPACT </div>
        <div class="second-titre"> CONNECTING GIVERS AND DOERS </div>
        <div class="texte1"> Sial Impact is a an outcome-based software that connect doers on the field with managers and donators </div>
      </div>
        <div class="for-managers">
        <div> For managers </div>
    </div>
    </div>
  </div>
</div>
