.initiative-sidebar {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items:center;
  background-color: #FFF;
}

.ini-photo {
  display:flex;
  width:100%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.ini-sdg {
  display:flex;
  width:100%;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
}

.characteristics {
  display:flex;
  flex-wrap: wrap;
  margin-top: 15px;
  font-size: 16px;
  padding:0;
  background-color:#d8cbbb;
  background-image: image_url('lines.svg');
  background-repeat: no-repeat;
  background-position:center;
  width:100%;
}

.chara {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width: 50%;
  height: 0;
  padding-top:25%;
  padding-bottom:25%;
  color:white;
  font-size:16;
  font-weight:bold;
    img {
      width:25%;
      margin-bottom:20px;
      height:auto;
    }
    p {
      margin:0;
      padding:0;
    }
}
