.characteristics {
  background-color: black;
  width:30%;
}

.first-banner {
  display: flex;
  width:100%;
}

.banner-img {
  background-color:yellow;
  width: 70%;
  background-repeat: no-repeat;
  min-height: 300px;
  background-size: cover;
  background-position:center center;

}
