.navbar-lewagon {
  justify-content: flex-end;
  background: white;
  width:100%;
  height: 100px;
    a {
      margin: 0px 60px 0px 60px;
      font-size: 16px;
  }
}

a, a:hover {
  text-decoration:none;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  height: 100px;
  text-decoration:none;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-wagon-item {
    color: $grayo !important;
    font-weight: 300;
}
