.progress-bar {
  background-color: #ddd;
  width: 200px;
  height: 20px;
  border-radius: 4px;
}

.progress {
  background-color: blue;
  width: 34%;
  height: 20px;
  border-radius: 4px;
  color: #fff;
  text-align: right;
}
