.activity {
  display: flex;
  margin: 40px 40px 40px 40px;
  justify-content: space-between;
}

.progress-bar {
  background-color: #44AEBC;
  height: 30px;
  border-radius: unset;
}

.progress {
  color: #fff;
  background-color: #ddd;
  height: 30px;
  border-radius: unset;
}
