.container-login {
  flex-direction:column;
  justify-content:space-between;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 100px;
  background-color: #F8FAF5;
}

.arbuste {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
